/**/

#logo
{
    font-family: 'Montez', cursive;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.1em;
    font-size: 4.2em;
}

#slide-out
{
    width: auto;
    background-color: rgba(0,0,0,0.8);
}

#slide-out>li a
{
    color: rgb(255,255,245);
}
/************************************************************************/
.titreBlog
{
    font-family: 'Lora';
    font-style: italic;
    background-size: 100% 100%;
    background-image: url(../imgs/pexels-photo-694218.jpeg);
    margin: 0;
    padding-top: 115px;
    padding-bottom: 35px;
}
h1, h3
{
    text-align:center;
}

h1 + p
{
    margin-left: 15%;
}

.articleCards
{
    height: 320px;
    margin-left: 1em !important;
    margin-right: 1em !important;
    display: flex;
    flex-direction: column;
}

.apercuArticle
{
    height: 252px;
    overflow-y: hidden;

}


.nbrComs
{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
}


article span
{
    margin-bottom: 0px !important;
    margin: 0 !important;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

article .date
{
    font-size: 0.6em;
}

article hr
{
    margin: 0;
    color: rgba(150,150,150,0.1);
}

article p
{
    margin-top: 0px;
    padding-left: 0.5em;
}

article h3
{
    margin: 0px;
}

a
{
    text-decoration: none;
    color: black;
}

.coms
{
    background-color: #eee;
}

.btnSendCom
{
    margin: 1em 0;
}

.nextPage
{
    list-style: none;
    padding-left: 0px ;
}

.center
{
    display: flex;
    justify-content: center;
}

.column
{
    flex-direction: column;
}

/*******************************************************/
footer
{
    margin-top: 2em;
    margin-bottom: 1em;
    height: 15em;
}

/********Bio******/
#photoBio
{
    float:left;
}

.bio p
{
    text-align: justify;
}






/************************************************************/
/***********************BackOffice***************************/
/************************************************************/
.bandeau
{
    margin-top: 1px ;
    margin-bottom: 1px;
}

#tuiles
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tuile
{
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
}

.center-cell /*icone centrer dans tableau*/
{
    text-align: center;
}
